{% extends '::base.html.twig' %}

{% block body %}
    <h1>Welcome to our online meditation page!</h1>

    <p>
        The meditation we practice is based on the teachings found in this booklet.<br>
        Please let us know you are here by submitting your intended time spent walking and sitting.<br>
        We normally do walking first, then sitting.<br>
    </p>

    <div class="well">
        <strong>Meditation Times</strong>
    </div>

    <div class="well">
        <strong>Total minutes of meditation</strong>
    </div>

    <h2>Meditator Shoutbox</h2>

    <div class="shoutbox">
        <div class="messages">

        </div>

        {% if app.user %}
            <form action="" method="post" id="chatForm">

                <input type="text" id="messageField" class="form-control" name="message[text]" placeholder="Your message">
                <input type="hidden" name="message[token]" value="{{ postMessageToken }}">
                <button type="submit" class="btn btn-default">Send</button>
            </form>
        {% else %}
            <form><p>Please log in to send a message.</p></form>
        {% endif %}
    </div>

    <p></p>

    <div class="well">
        <strong>Meditator List</strong>
    </div>

    <div class="well">
        <h2>Submit meditation information</h2>

        {% if app.user %}
            <form action="" method="post" id="sessionForm">

                <input type="text" class="form-control" name="session[sitting]">
                <input type="text" class="form-control" name="session[walking]">
                <input type="hidden" name="session[token]" value="{{ postSessionToken }}">
                <button type="submit" class="btn btn-default">Send</button>
            </form>
        {% else %}
            <form><p>Please log in to submit meditation information.</p></form>
        {% endif %}
    </div>

    <div class="well">
        <strong>Share page</strong>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    // caching elements
    var $messages     = $('.messages');
    var $chatForm     = $('#chatForm');
    var $sessionForm  = $('#sessionForm');
    var $messageField = $('#messageField');

    var updateChat = function() {
        $messages.load('{{ path('render_chats') }}', null, function() {
            var objDiv = document.getElementById("your_div");

            // TODO: only scroll to bottom if previous scroll state was at bottom
            $messages.scrollTop($messages[0].scrollHeight);
        });
        window.setTimeout(updateChat, 5000);
    };

    updateChat();

    // submit handler for shoutbox
    $chatForm.on('submit', function(e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: '{{ path('post_message') }}',
            data: $chatForm.serialize(),
            success: function(data) {
                updateChat();
                $messageField.val('');
            }
        });
    });

    // submit handler for meditation submission
    $sessionForm.on('submit', function(e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: '{{ path('post_session') }}',
            data: $sessionForm.serialize(),
            success: function(data) {
                updateChat();
                $sessionForm.find('input[type=text]').val('');
            }
        });
    });
</script>
{% endblock %}
