<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Meditation+{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            {% stylesheets filter="compass" output="css/compiled/*.v3.css"
                "@SirimangaloMeditationBundle/Resources/assets/scss/main.scss"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">  Meditation+
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <i class="fa fa-bars"></i>
                    </button>

                </div>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav nav">
                        <li>
                            <a href="#">Commitments</a>
                        </li>
                        <li>
                            <a href="#">Etc</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user fa-fw"></i>

                                    {{ app.user.username }}

                                    <b class="caret"></b>
                                </a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Profile</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            {{ _self.nav_link('Login', 'fos_user_security_login') }}
                        {% endif %}
                    </ul>
                </div>


            </div>
        </nav>

        <div class="container">
            {% block body %}

            {% endblock %}
        </div>

        {% javascripts output='js/compiled/*.min.v1.js'
            '@SirimangaloMeditationBundle/Resources/assets/javascripts/jquery.js'
            '@SirimangaloMeditationBundle/Resources/assets/javascripts/bootstrap/modal.js'
            '@SirimangaloMeditationBundle/Resources/assets/javascripts/bootstrap/dropdown.js'
            '@SirimangaloMeditationBundle/Resources/assets/javascripts/bootstrap/tooltip.js'
            '@SirimangaloMeditationBundle/Resources/assets/javascripts/bootstrap/popover.js'
            '@SirimangaloMeditationBundle/Resources/assets/javascripts/bootstrap/collapse.js'
            '@SirimangaloMeditationBundle/Resources/assets/javascripts/bootstrap/transition.js'
            '@SirimangaloMeditationBundle/Resources/assets/javascripts/bootstrap/scrollspy.js'
            '@SirimangaloMeditationBundle/Resources/assets/javascripts/bootstrap/affix.js'
            '@SirimangaloMeditationBundle/Resources/assets/javascripts/bootstrap/tab.js'
            '@SirimangaloMeditationBundle/Resources/assets/javascripts/bootstrap/carousel.js'
            '@SirimangaloMeditationBundle/Resources/assets/javascripts/sweet-alert.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

{# some macros #}

{% macro nav_link(text, url) %}
    <li
        {% if url in app.request.attributes.get('_route') %}
            class="active"
        {% endif %}
    >
        <a href="{{ url(url) }}">
            {{ text }}
        </a>
    </li>
{% endmacro %}